@font-face {
    font-family: "NB International Regular Webfont";
    src: url("https://db.onlinewebfonts.com/t/23255fa3ff7a89589800cea3092f154f.eot");
    src: url("https://db.onlinewebfonts.com/t/23255fa3ff7a89589800cea3092f154f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/23255fa3ff7a89589800cea3092f154f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/23255fa3ff7a89589800cea3092f154f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/23255fa3ff7a89589800cea3092f154f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/23255fa3ff7a89589800cea3092f154f.svg#NB International Regular Webfont")format("svg");
}

@font-face {
    font-family: rejoy;
    src: url(/Rejouice-Headline.woff2);
}

@font-face {
    font-family: nb;
    src: url(NBInternationalProBoo.woff2);
}
html,body{
width:100%;
height:100%;
overflow-x: hidden;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

#cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: rgba(247, 98, 44, 0.795);
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: translate(-50%,-50%);
}

#cursor h5{
    font-size: 1.3vw;
    font-family: "NB International Regular Webfont";
    font-weight: 100;
}

#main-vid{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 2;
}

#menu{
    width: 100%;
    height: 60vh;
    position: absolute;
    background-color: #fff;
    z-index: 100;
    transform: translateY(-100%);
}

#menuContent{
    padding: 3vw 3vw 1vw 3vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#top{
    display: flex;
    justify-content: space-between;
}

#vid{
    display: flex;
    flex-direction: column;

}
#vid h3{
    font-family: rejoy;
    font-weight: 200;
    font-size: 1.6vw;
}
#vid h5{
    font-family: "NB International Regular Webfont";
    font-weight: 200;
    font-size: 1.1vw;
    padding: 15px 0;
}
#menu-video{
    height: 230px;
    width: 345px;
    object-fit: cover;
    border-radius: 5px;
}

#textContent h2{
    font-size: 3vw;
    font-family: nb;
    font-weight: 500;
}
#close{
    font-size: 1.5vw;
    font-family: nb;
    font-weight: 500;
    cursor: pointer;
}
#bottom{
    display: flex;
    justify-content: space-between;
}
#bleft h4{
    font-size: 1.2vw;
    font-family: nb;
    font-weight: 500;
}
#bright span{
    font-size: 1.2vw;
    font-family: nb;
    font-weight: 500;
    padding: 0 5px;
}

#page-1{
    width: 100vw;
    height: 100vh;
    position: relative;
    
}
#page-1-content{
    height: 100%;
    width: 100%;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2vw 3vw 0 3vw;
}

nav h4{
    font-size: 1.4vw;
    font-family: "NB International Regular Webfont";
    font-weight: 100;
    cursor: pointer;
}

#page-1-content h1{
    font-family: rejoy;
    font-size: 26vw;
    font-weight: 100;
    line-height: 27vw;
}

#head span{
    display: inline-block;
}

#page-2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#page2-top{
    width: 100%;
    height: 15vh;
    padding: 5vw 3vw 0.6vw 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page2-top h3{
    font-weight: 200;
    font-size: 1.5vw;
    font-family: nb;
}

.line{
    width: 94%;
    margin: 0 3vw;
}
.line  div{
    width: 100%;
    height: 1px;
    padding: 0 3vw;
    background-color: black;
}

#page2-text h2{
    padding: 0vw 3vw;
    font-size: 4.5vw;
    font-family: nb;
    font-weight: 500;

}
#page-3{
    width: 100%;
    height: 100vh;
    background-color: salmon;
    display: flex;
    flex-direction: column;
}

